@import url('shared.css');

:root {
    /*********** COLORS **********/
    --background-color: #624522;
    --outerframe-color: #8c7436;
	--main-color: #a66412;
    --greybox-color: #8b7357;
    --accent-color: #d3a24d;
	--heading-color: #a15b00;
	--text-color: #c4c1c1;
    --specialties-color: #0f0f0f;
    --specialties-text-color: #666666;
    /*****************************/
}

.skilldotrenown:before {
    content: "\25CF";
    font-size: 23px;
}

.rank {
    width: 180px;
}